<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Simple Cipher</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <ul>
        <li><a name="git" href="https://github.com/p-jonczyk">GIT</a></li>
        <li><a name="binary" href="/">BINARY</a></li>
        <li><a name="shift" href="/shift">SHIFT</a></li>
    </ul>
    <br>
    <img src="https://openclipart.org/image/800px/303611">
    <br>
    <p id="page_title">STEGANOGRAPHY</p>
    <br>
    <h3 id="img_title">Press right-mouse button on image and download. (Save image as...)</h3>
    <br>
    <form method="post" action="image_encoder_save">
        {% if filename %}
        <img id="encoded_image" src="{{ url_for('display_image', filename=filename) }}">
        {% endif %}
    </form>


    <p id="made_by">Made by Paweł Jonczyk</p>
</body>

</html>